.actors
  -actors.each do |actor|
    %table.table.table-sm.table-inverse
      %thead
        %tr
          %th= actor.decorate.full_name
      %tbody
        %tr
          -actor.decorate.three_movies.each do |movie|
            %td= movie.name


